@model CvProject.Models.Entity.Experience
@{
    ViewBag.Title = "BringExperience";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Deneyim Düzenleme Sayfası</h2>
<br />

@using (Html.BeginForm("BringExperience", "Experience", FormMethod.Post))
{
    @Html.HiddenFor(x => x.Id)

    <div style="margin-bottom:15px">
        @Html.Label("Deneyim Başlık")
        @Html.TextBoxFor(x => x.Title, new { @class = "form-control", required = "required" })
    </div>
    <div style="margin-bottom:15px">
        @Html.Label("Deneyim Altbaşlık")
        @Html.TextBoxFor(x => x.Subtitle, new { @class = "form-control", required = "required" })
    </div>
    <div style="margin-bottom:15px">
        @Html.Label("Deneyim Tarih")
        @Html.TextBoxFor(x => x.Date, new { @class = "form-control", required = "required" })
    </div>
    <div style="margin-bottom:15px">
        @Html.Label("Deneyim Detay")
        @Html.TextAreaFor(x=>x.Details,5,5, new {@class="form-control", required = "required" })
    </div>
    <div style="margin-bottom:15px">
        <button class="btn btn-info">Düzenle</button>
    </div>
}

