@model CvProject.Models.Entity.Award

@{
    ViewBag.Title = "BringAward";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Sertifika Düzenleme Sayfası</h2>
<br />

@using (Html.BeginForm("BringAward", "Award", FormMethod.Post))
{
    @Html.HiddenFor(x => x.Id)

    <div style="margin-bottom:15px">
        @Html.Label("Sertifika Adı")
        @Html.TextBoxFor(x => x.AwardName, new { @class = "form-control", required = "required" })
    </div>
    <div style="margin-bottom:30px">
        @Html.Label("Tarih")
        @Html.TextBoxFor(x => x.Date, new { @class = "form-control", required = "required" })
    </div>
    <div style="margin-bottom:15px">
        <button class="btn btn-info">Düzenle</button>
        <a href="/Award/DeleteAward/@ViewBag.bring" class="btn btn-danger">Sil</a>
    </div>
}

